* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
  box-shadow: inset 0 0 500px rgba(0, 0, 0, 0.5);
}

.tani {
  border-radius: 20%;
  height: 40%;
  width: 35%;
  background-color: red;
}

.logo1 {
  position: absolute;
  overflow: hidden;
  top: 42%;
  left: 47.5%;
  width: 10%;
  height: 18%;
  background-color: white;
}

.logo2 {
  position: absolute;
  rotate: 30deg;
  top: -24%;
  left: 0%;
  width: 130%;
  height: 60%;
  background-color: red;
}

.logo3 {
  position: absolute;
  rotate: -30deg;
  top: 64%;
  left: 0%;
  width: 130%;
  height: 60%;
  background-color: red;
}